/* DetailsPage.css */

.details-container {
    max-width: 800px;
    margin:auto;
    padding: 20px;
    background-color:wheat;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  .details-title {
    font-size: 43px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #7add2e; /* Dark text color */
  }
  
  .details-description,
  .details-noise-level,
  .details-tracker,
  .details-minimize-steps,
  .details-feedback,
  .details-complaint {
    font-size: 18px;
    margin-bottom: 10px;
    color: #09a4f1; /* Slightly darker text color */
  }
  
  .details-description {
    font-style: italic;
  }
  
  .details-tracker a {
    color: #007bff; /* Blue link color */
    text-decoration: none;
    font-weight: bold;
  }
  
  .details-feedback,
  .details-complaint {
    color: #dc3545; /* Red color for feedback and complaints */
    font-weight: bold;
  }
  
  /* Add more styling as needed */
  